<ul class="mb-5 p-5">
  <li
    class="inline-block mx-1 px-4 border border-primary rounded-lg hover:bg-primary hover:text-white transition-colors">
    <a routerLink="pages">Pages</a>
  </li>
  <li
    class="inline-block mx-1 px-4 border border-primary rounded-lg hover:bg-primary hover:text-white transition-colors">
    <a routerLink="template">Tenplate</a>
  </li>
  <li
    class="inline-block mx-1 px-4 border border-primary rounded-lg hover:bg-primary hover:text-white transition-colors">
    <a routerLink="oauth">Oauth</a>
  </li>
</ul>
<router-outlet></router-outlet>