<div class="pt-12">
  <h1 class="text-center text-primary text-4xl font-semibold mb-5">Live anywhere</h1>
  <h2 class="text-center font-light text-xl text-[#ffa400] mb-35">Keep calm & travel on</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-y-7 md:gap-y-0 gap-x-8 max-w-6xl mx-auto px-[15px]">
    <div>
      <div class="h-96 mb-5">
        <img class="w-full h-full rounded-lg object-cover"
          src="https://images.unsplash.com/photo-1677708892106-d96924870618?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt="">
      </div>
      <h3 class="text-center font-medium text-lg mb-3">Enjoy the great cold</h3>
      <span class="text-center block text-sm text-gray-400">6.789 properties</span>
    </div>
    <div>
      <div class="h-96 mb-5">
        <img class="w-full h-full rounded-lg object-cover"
          src="https://images.unsplash.com/photo-1677708892106-d96924870618?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt="">
      </div>
      <h3 class="text-center font-medium text-lg mb-3">Enjoy the great cold</h3>
      <span class="text-center block text-sm text-gray-400">6.789 properties</span>
    </div>
    <div>
      <div class="h-96 mb-5">
        <img class="w-full h-full rounded-lg object-cover"
          src="https://images.unsplash.com/photo-1677708892106-d96924870618?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt="">
      </div>
      <h3 class="text-center font-medium text-lg mb-3">Enjoy the great cold</h3>
      <span class="text-center block text-sm text-gray-400">6.789 properties</span>
    </div>
  </div>
</div>